ABBConnect.TL/Transformation_Layer/Transformation_Layer/Service References/ServiceReference1/ABBConnectWCF.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ABBConnectWCF" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:8001/ABBConnectWCF?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:8001/ABBConnectWCF?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:8001/ABBConnectWCF?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/ABBConnectWCF.APP_DATA" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IABBConnectWCF_LogIn_InputMessage">
    <wsdl:part name="parameters" element="tns:LogIn" />
  </wsdl:message>
  <wsdl:message name="IABBConnectWCF_LogIn_OutputMessage">
    <wsdl:part name="parameters" element="tns:LogInResponse" />
  </wsdl:message>
  <wsdl:message name="IABBConnectWCF_GetHumanInformation_InputMessage">
    <wsdl:part name="parameters" element="tns:GetHumanInformation" />
  </wsdl:message>
  <wsdl:message name="IABBConnectWCF_GetHumanInformation_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetHumanInformationResponse" />
  </wsdl:message>
  <wsdl:message name="IABBConnectWCF_GetHumanInformationByUsername_InputMessage">
    <wsdl:part name="parameters" element="tns:GetHumanInformationByUsername" />
  </wsdl:message>
  <wsdl:message name="IABBConnectWCF_GetHumanInformationByUsername_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetHumanInformationByUsernameResponse" />
  </wsdl:message>
  <wsdl:message name="IABBConnectWCF_GetLatestXFeeds_InputMessage">
    <wsdl:part name="parameters" element="tns:GetLatestXFeeds" />
  </wsdl:message>
  <wsdl:message name="IABBConnectWCF_GetLatestXFeeds_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetLatestXFeedsResponse" />
  </wsdl:message>
  <wsdl:message name="IABBConnectWCF_GetLatestXFeedsFromId_InputMessage">
    <wsdl:part name="parameters" element="tns:GetLatestXFeedsFromId" />
  </wsdl:message>
  <wsdl:message name="IABBConnectWCF_GetLatestXFeedsFromId_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetLatestXFeedsFromIdResponse" />
  </wsdl:message>
  <wsdl:portType name="IABBConnectWCF">
    <wsdl:operation name="LogIn">
      <wsdl:input wsaw:Action="http://tempuri.org/IABBConnectWCF/LogIn" message="tns:IABBConnectWCF_LogIn_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IABBConnectWCF/LogInResponse" message="tns:IABBConnectWCF_LogIn_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetHumanInformation">
      <wsdl:input wsaw:Action="http://tempuri.org/IABBConnectWCF/GetHumanInformation" message="tns:IABBConnectWCF_GetHumanInformation_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IABBConnectWCF/GetHumanInformationResponse" message="tns:IABBConnectWCF_GetHumanInformation_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetHumanInformationByUsername">
      <wsdl:input wsaw:Action="http://tempuri.org/IABBConnectWCF/GetHumanInformationByUsername" message="tns:IABBConnectWCF_GetHumanInformationByUsername_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IABBConnectWCF/GetHumanInformationByUsernameResponse" message="tns:IABBConnectWCF_GetHumanInformationByUsername_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetLatestXFeeds">
      <wsdl:input wsaw:Action="http://tempuri.org/IABBConnectWCF/GetLatestXFeeds" message="tns:IABBConnectWCF_GetLatestXFeeds_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IABBConnectWCF/GetLatestXFeedsResponse" message="tns:IABBConnectWCF_GetLatestXFeeds_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetLatestXFeedsFromId">
      <wsdl:input wsaw:Action="http://tempuri.org/IABBConnectWCF/GetLatestXFeedsFromId" message="tns:IABBConnectWCF_GetLatestXFeedsFromId_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IABBConnectWCF/GetLatestXFeedsFromIdResponse" message="tns:IABBConnectWCF_GetLatestXFeedsFromId_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:service name="ABBConnectWCF" />
</wsdl:definitions>