ABBConnect.TL/Transformation_Layer/Transformation_Layer/Service References/ServiceReference1/ABBConnectWCF1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8001/ABBConnectWCF?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/ABBConnectWCF.APP_DATA" />
  <xs:element name="LogIn">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="username" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LogInResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="LogInResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetHumanInformation">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetHumanInformationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/ABBConnectWCF.APP_DATA" minOccurs="0" name="GetHumanInformationResult" nillable="true" type="q1:GetHumanInformation_Result" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetHumanInformationByUsername">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="username" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetHumanInformationByUsernameResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/ABBConnectWCF.APP_DATA" minOccurs="0" name="GetHumanInformationByUsernameResult" nillable="true" type="q2:GetHumanInformationByUsername_Result" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLatestXFeeds">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="X" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLatestXFeedsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/ABBConnectWCF.APP_DATA" minOccurs="0" name="GetLatestXFeedsResult" nillable="true" type="q3:ArrayOfGetLatestXFeeds_Result" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLatestXFeedsFromId">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="X" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Id" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLatestXFeedsFromIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/ABBConnectWCF.APP_DATA" minOccurs="0" name="GetLatestXFeedsFromIdResult" nillable="true" type="q4:ArrayOfGetLatestXFeedsFromId_Result" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>