ABBConnect.PortableTL/PortableTransformationLayer/PortableTransformationLayer/Service References/ABBConnectServiceRef/ABBConnectWCF1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://83.255.84.243:85/ServiceJSON/ABBConnectWCF.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/ABBJSONService" />
  <xs:import schemaLocation="http://83.255.84.243:85/ServiceJSON/ABBConnectWCF.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:element name="LogIn">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="username" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LogInResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="LogInResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetHumanInformation">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetHumanInformationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/ABBJSONService" minOccurs="0" name="GetHumanInformationResult" nillable="true" type="q1:GetHumanInformation_Result" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetHumanInformationByUsername">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="username" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetHumanInformationByUsernameResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/ABBJSONService" minOccurs="0" name="GetHumanInformationByUsernameResult" nillable="true" type="q2:GetHumanInformationByUsername_Result" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLatestXFeeds">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="X" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLatestXFeedsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/ABBJSONService" minOccurs="0" name="GetLatestXFeedsResult" nillable="true" type="q3:ArrayOfGetLatestXFeeds_Result" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLatestXFeedsFromId">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="X" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Id" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLatestXFeedsFromIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/ABBJSONService" minOccurs="0" name="GetLatestXFeedsFromIdResult" nillable="true" type="q4:ArrayOfGetLatestXFeedsFromId_Result" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PostFeed">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="text" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="filepath" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="prioId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PostFeedResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="PostFeedResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCategories">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCategoriesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/ABBJSONService" minOccurs="0" name="GetCategoriesResult" nillable="true" type="q5:ArrayOfGetPriorityCategories_Result" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllSensors">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllSensorsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/ABBJSONService" minOccurs="0" name="GetAllSensorsResult" nillable="true" type="q6:ArrayOfGetAllSensors_Result" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFeedComments">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="feedId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFeedCommentsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/ABBJSONService" minOccurs="0" name="GetFeedCommentsResult" nillable="true" type="q7:ArrayOfGetFeedComments_Result" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFeedTags">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="feedId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFeedTagsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/ABBJSONService" minOccurs="0" name="GetFeedTagsResult" nillable="true" type="q8:ArrayOfGetFeedTags_Result" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetHumanFeeds">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetHumanFeedsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/ABBJSONService" minOccurs="0" name="GetHumanFeedsResult" nillable="true" type="q9:ArrayOfGetAllHumanFeeds_Result" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetHumanFeedsByFilter">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="location" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="startingTime" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="endingTime" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetHumanFeedsByFilterResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/ABBJSONService" minOccurs="0" name="GetHumanFeedsByFilterResult" nillable="true" type="q10:ArrayOfGetAllHumanFeedsByFilter_Result" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSensorFeeds">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSensorFeedsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/ABBJSONService" minOccurs="0" name="GetSensorFeedsResult" nillable="true" type="q11:ArrayOfGetAllSensorFeeds_Result" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSensorFeedsByFilter">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="location" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="startingTime" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="endingTime" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSensorFeedsByFilterResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/ABBJSONService" minOccurs="0" name="GetSensorFeedsByFilterResult" nillable="true" type="q12:ArrayOfGetAllSensorFeedsByFilter_Result" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserFeeds">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserFeedsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/ABBJSONService" minOccurs="0" name="GetUserFeedsResult" nillable="true" type="q13:ArrayOfGetUserFeeds_Result" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserFeedsByFilter">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="location" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="startingTime" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="endingTime" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserFeedsByFilterResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/ABBJSONService" minOccurs="0" name="GetUserFeedsByFilterResult" nillable="true" type="q14:ArrayOfGetUserFeedsByFilter_Result" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLocations">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLocationsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="GetLocationsResult" nillable="true" type="q15:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSensorInformation">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSensorInformationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/ABBJSONService" minOccurs="0" name="GetSensorInformationResult" nillable="true" type="q16:GetSensorInformation_Result" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetHistoricalDataFromSensor">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="startingTime" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="endingTime" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetHistoricalDataFromSensorResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/ABBJSONService" minOccurs="0" name="GetHistoricalDataFromSensorResult" nillable="true" type="q17:ArrayOfGetHistoricalDataFromSensor_Result" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLastSensorValue">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLastSensorValueResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetLastSensorValueResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PostComment">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="feedId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="username" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="text" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PostCommentResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="PostCommentResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddTag">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="feedId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="username" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddTagResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddTagResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FollowSensor">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="humanId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="sensorId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FollowSensorResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="FollowSensorResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLatestFeedsByFilter">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="location" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="startingTime" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="endingTime" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLatestFeedsByFilterResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q18="http://schemas.datacontract.org/2004/07/ABBJSONService" minOccurs="0" name="GetLatestFeedsByFilterResult" nillable="true" type="q18:ArrayOfGetLatestFeedsByFilter_Result" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFeedsByFilter">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="location" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="startingTime" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="endingTime" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="feedType" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFeedsByFilterResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q19="http://schemas.datacontract.org/2004/07/ABBJSONService" minOccurs="0" name="GetFeedsByFilterResult" nillable="true" type="q19:ArrayOfGetFeedsByFilter_Result" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetXFeedsByFilter">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="location" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="startingTime" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="endingTime" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="feedType" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="startId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="numFeeds" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetXFeedsByFilterResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q20="http://schemas.datacontract.org/2004/07/ABBJSONService" minOccurs="0" name="GetXFeedsByFilterResult" nillable="true" type="q20:ArrayOfGetLatestXFeeds_Result" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveFilter">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="filterName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="startingTime" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="endingTime" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="location" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="feedType" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveFilterResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SaveFilterResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddFilterUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="filterId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddFilterUserResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddFilterUserResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSavedFilter">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSavedFilterResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q21="http://schemas.datacontract.org/2004/07/ABBJSONService" minOccurs="0" name="GetSavedFilterResult" nillable="true" type="q21:ArrayOfGetUserSavedFilters_Result" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SearchUsersByName">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="query" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SearchUsersByNameResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q22="http://schemas.datacontract.org/2004/07/ABBJSONService" minOccurs="0" name="SearchUsersByNameResult" nillable="true" type="q22:ArrayOfGetUsersByName_Result" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFilterTaggedUsers">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="filterId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFilterTaggedUsersResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q23="http://schemas.datacontract.org/2004/07/ABBJSONService" minOccurs="0" name="GetFilterTaggedUsersResult" nillable="true" type="q23:ArrayOfGetUserSavedFiltersTagedUsers_Result" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>