ABBConnect.TL/Transformation_Layer/Transformation_Layer/Service References/DalService/DALService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8966/DALService.svc?xsd=xsd7" namespace="http://schemas.datacontract.org/2004/07/ServerService" />
  <xs:element name="ExecuteDataSet">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="commandText" nillable="true" type="xs:string" />
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/ServerService" minOccurs="0" name="dsparams" nillable="true" type="q1:ArrayOfDAL" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ExecuteDataSetResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ExecuteDataSetResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ExecuteNonQuery">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="commandText" nillable="true" type="xs:string" />
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/ServerService" minOccurs="0" name="nonparams" nillable="true" type="q2:ArrayOfDAL" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ExecuteNonQueryResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ExecuteNonQueryResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>